.large-12.columns
  %hr/
  .row
    .large-5.columns
      %p 
        Fox Home Builders
        %br/
        361-994-2860
        %br/
        La Costa Dr.
        %br/
        Corpus Christi, TX 78414
    .large-7.columns
      %ul.inline-list.right
        %li
          = link_to 'Available Now', ''
        %li
          = link_to 'Gallery', ''
        %li
          = link_to 'Floor Plans', ''
        %li
          = link_to 'Neighborhoods', ''
        %li
          = link_to 'About', page_path('about')
        %li
          = link_to 'Contact', page_path('contact')
